### Продуктовые корзины

In [ ]:
dataset = [['Молоко', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Укроп', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Молоко', 'Яблоки', 'Лосось', 'Хлеб'],
            ['Молоко', 'Кукуруза', 'Виски', 'Лосось', 'Йогурт'],
            ['Виски', 'Лук', 'Картофель', 'Лосось', 'Мороженое', 'Хлеб'],
            ['Молоко', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Укроп', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Молоко', 'Яблоки', 'Лосось', 'Хлеб'],
            ['Молоко', 'Кукуруза', 'Виски', 'Лосось', 'Йогурт'],
            ['Виски', 'Лук', 'Картофель', 'Лосось', 'Мороженое', 'Хлеб'],
            ['Молоко', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Укроп', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Молоко', 'Яблоки', 'Лосось', 'Хлеб'],
            ['Молоко', 'Кукуруза', 'Виски', 'Лосось', 'Йогурт'],
            ['Виски', 'Лук', 'Картофель', 'Лосось', 'Мороженое', 'Хлеб'],
            ['Молоко', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Укроп', 'Лук', 'Орехи', 'Лосось', 'Хлеб', 'Йогурт'],
            ['Молоко', 'Яблоки', 'Лосось', 'Хлеб'],
            ['Молоко', 'Кукуруза', 'Виски', 'Лосось', 'Йогурт'],
            ['Виски', 'Лук', 'Картофель', 'Лосось', 'Мороженое', 'Хлеб']]

### Libraries

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from apyori import apriori as classic_apriori
from mlxtend.frequent_patterns import apriori

In [ ]:
classic_df = pd.read_csv("store_data.csv")
classic_df.head(5)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
te = TransactionEncoder()
te_try = te.fit(dataset).transform(dataset)

In [ ]:
df = pd.DataFrame(te_try, columns=te.columns_)

In [ ]:
df.head(5)

,Виски,Йогурт,Картофель,Кукуруза,Лосось,Лук,Молоко,Мороженое,Орехи,Укроп,Хлеб,Яблоки
0,False,True,False,False,True,True,True,False,True,False,True,False
1,False,True,False,False,True,True,False,False,True,True,True,False
2,False,False,False,False,True,False,True,False,False,False,True,True
3,True,True,False,True,True,False,True,False,False,False,False,False
4,True,False,True,False,True,True,False,True,False,False,True,False

### Модель

#### Apriori

##### Support

– Определяет популярность элемента по всем наборам.

##### Confidence

Вероятность того, что элемент 1 будет куплен после покупки элемента 0 { 0 -> 1}.

Измеряется, как кол-во появлений набор в покупках { яблоко - пиво } 3/4, т.е. 75%

![](https://annalyzin.files.wordpress.com/2016/03/association-rule-confidence-eqn.png?w=527&h=77)

##### Lift


Вероятность того, что элемент 1 будет куплен после покупки элемента 0 { 0 -> 1}, но учитывая вероятность товара 1.

Набор { яблоко -> пиво} = 1, т.к. это не очень популярный и маловероятный набор.

Если значение больше 1, то вероятность покупки больше, если ближе к 0, то меньше.


![](https://annalyzin.files.wordpress.com/2016/03/association-rule-lift-eqn.png?w=566&h=80)

In [ ]:
classic_df.head(10)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,whole wheat pasta,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,soup,light cream,shallot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,frozen vegetables,spaghetti,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,french fries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,eggs,pet food,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# если сразу передать набор, то не получим результат
association_rules = classic_apriori(classic_df.head(10), min_support=0.3, min_confidence=0.2, min_lift=1, min_length=2)
association_results = list(association_rules)

for i in range(0, len(association_results)):
    print(association_results[i][0])

frozenset({' '})
frozenset({'a'})
frozenset({'e'})
frozenset({'g'})
frozenset({'h'})
frozenset({'i'})
frozenset({'l'})
frozenset({'m'})
frozenset({'n'})
frozenset({'o'})
frozenset({'r'})
frozenset({'s'})
frozenset({'t'})
frozenset({'a', ' '})
frozenset({'e', ' '})
frozenset({'g', ' '})
frozenset({'i', ' '})
frozenset({'n', ' '})
frozenset({'o', ' '})
frozenset({'r', ' '})
frozenset({'t', ' '})
frozenset({'e', 'a'})
frozenset({'l', 'a'})
frozenset({'m', 'a'})
frozenset({'n', 'a'})
frozenset({'o', 'a'})
frozenset({'s', 'a'})
frozenset({'t', 'a'})
frozenset({'i', 'e'})
frozenset({'n', 'e'})
frozenset({'o', 'e'})
frozenset({'r', 'e'})
frozenset({'t', 'e'})
frozenset({'s', 'm'})
frozenset({'t', 'o'})
frozenset({'a', 'e', ' '})
frozenset({'a', 't', ' '})
frozenset({'i', 'e', ' '})
frozenset({'n', 'e', ' '})
frozenset({'o', 'e', ' '})
frozenset({'r', 'e', ' '})
frozenset({'t', 'e', ' '})
frozenset({'t', 'o', ' '})
frozenset({'t', 'e', 'a'})
frozenset({'a', 't', 'e', ' '})

In [ ]:
# делаем подготовку данных
records = []
for i in range(0, 100):
    records.append([str(classic_df.values[i, j]) for j in range(0, 20)])


records[:3]

[['burgers',
  'meatballs',
  'eggs',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['chutney',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan'],
 ['turkey',
  'avocado',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan']]

In [ ]:
# изменение min_support / min_confidece ведет к изменению размера релузьтата
association_rules = classic_apriori(records, min_support=0.04, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

print("Найдено {} правил".format(len(association_results)))

for i in range(0, len(association_results)):
    print(association_results[i][0])

Найдено 10 правил
frozenset({'fresh tuna', 'mineral water'})
frozenset({'spaghetti', 'frozen vegetables'})
frozenset({'mineral water', 'ground beef'})
frozenset({'spaghetti', 'ground beef'})
frozenset({'shrimp', 'pasta'})
frozenset({'fresh tuna', 'mineral water', 'nan'})
frozenset({'nan', 'spaghetti', 'frozen vegetables'})
frozenset({'mineral water', 'nan', 'ground beef'})
frozenset({'nan', 'spaghetti', 'ground beef'})
frozenset({'nan', 'shrimp', 'pasta'})

In [ ]:
# получаем правила из общего результат и смотрим метрики
for item in association_results:
    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    print("Support: " + str(item[1]))


    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: fresh tuna -> mineral water
Support: 0.04
Confidence: 1.0
Lift: 4.0
=====================================
Rule: spaghetti -> frozen vegetables
Support: 0.05
Confidence: 0.625
Lift: 3.125
=====================================
Rule: mineral water -> ground beef
Support: 0.05
Confidence: 0.8333333333333334
Lift: 3.3333333333333335
=====================================
Rule: spaghetti -> ground beef
Support: 0.04
Confidence: 0.6666666666666667
Lift: 3.3333333333333335
=====================================
Rule: shrimp -> pasta
Support: 0.04
Confidence: 1.0
Lift: 20.0
=====================================
Rule: fresh tuna -> mineral water
Support: 0.04
Confidence: 1.0
Lift: 4.0
=====================================
Rule: nan -> spaghetti
Support: 0.05
Confidence: 0.625
Lift: 3.125
=====================================
Rule: mineral water -> nan
Support: 0.05
Confidence: 0.8333333333333334
Lift: 3.3333333333333335
=====================================
Rule: nan -> spaghetti
Support: 0.04
Confidence: 0.6666666666666667
Lift: 3.3333333333333335
=====================================
Rule: nan -> shrimp
Support: 0.04
Confidence: 1.0
Lift: 20.0
=====================================

In [ ]:
# модель
# установим порог для support в 0.5
apriori(df,min_support=0.5)

    support    itemsets
0       0.6         (1)
1       1.0         (4)
2       0.6         (5)
3       0.6         (6)
4       0.8        (10)
5       0.6      (1, 4)
6       0.6      (4, 5)
7       0.6      (4, 6)
8       0.8     (10, 4)
9       0.6     (10, 5)
10      0.6  (10, 4, 5)

In [ ]:
# такая же поддержка, но с использованием имени элементов
apriori(df,min_support=0.5, use_colnames=True)

    support             itemsets
0       0.6             (Йогурт)
1       1.0             (Лосось)
2       0.6                (Лук)
3       0.6             (Молоко)
4       0.8               (Хлеб)
5       0.6     (Лосось, Йогурт)
6       0.6        (Лук, Лосось)
7       0.6     (Молоко, Лосось)
8       0.8       (Хлеб, Лосось)
9       0.6          (Хлеб, Лук)
10      0.6  (Лук, Хлеб, Лосось)

In [ ]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support             itemsets  length
0       0.6             (Йогурт)       1
1       1.0             (Лосось)       1
2       0.6                (Лук)       1
3       0.6             (Молоко)       1
4       0.8               (Хлеб)       1
5       0.6     (Лосось, Йогурт)       2
6       0.6        (Лук, Лосось)       2
7       0.6     (Молоко, Лосось)       2
8       0.8       (Хлеб, Лосось)       2
9       0.6          (Хлеб, Лук)       2
10      0.6  (Лук, Хлеб, Лосось)       3

### Фильтр на длину = 2 и support > 0.8

In [ ]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.6) ]

   support          itemsets  length
5      0.6  (Лосось, Йогурт)       2
6      0.6     (Лук, Лосось)       2
7      0.6  (Молоко, Лосось)       2
8      0.8    (Хлеб, Лосось)       2
9      0.6       (Хлеб, Лук)       2

In [ ]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Молоко'} ]

   support  itemsets  length
3      0.6  (Молоко)       1